body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
<<<<<<< HEAD
    position: relative; 
=======
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

<<<<<<< HEAD
input[type="number"], select, input[type="text"] {
=======
input[type="number"], select {
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

<<<<<<< HEAD
button, #logoutButton {
=======
button {
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
    margin-top: 10px;
}

button:hover, #logoutButton:hover {
    background-color: #0056b3;
}

#updateCountryForm button {
    width: auto;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #28a745;
}

#updateCountryForm button:hover {
    background-color: #218838;
}

=======
}

button:hover {
    background-color: #0056b3;
}

>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
.conversion-history {
    margin-top: 20px;
}

.conversion-history h2 {
    font-size: 1.5rem;
}

.conversion-history ul {
    list-style: none;
    padding: 0;
}

.conversion-history ul li {
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
<<<<<<< HEAD
    color: black;
=======
    color: white;
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

<<<<<<< HEAD
.dropdown-content, .user-info-dropdown-content {
=======
.dropdown-content {
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5px; 
}

<<<<<<< HEAD
.dropdown-content a, .user-info-dropdown-content a {
=======
.dropdown-content a {
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

<<<<<<< HEAD
.dropdown-content a:hover, .user-info-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content, .user-info-dropdown:hover .user-info-dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn, .user-info-dropdown:hover > div {
    background-color: #ebeff3;
}

.top-right-buttons {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}

.auth-buttons, #user-info {
    display: flex;
}

.auth-button, .user-info-dropdown > div {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.login, .user-info-dropdown > div {
    background-color: #28a745; 
}

.login:hover {
    background-color: #218838; 
}

.register {
    background-color: #dc3545; 
}

.register:hover {
    background-color: #c82333;
}

.user-info-dropdown-content a {
    padding: 10px;
}

.blue-bold-text {
    color: blue;
    font-weight: bold;
}

.red-bold-text {
    color: red;
    font-weight: bold;
}

.green-bold-text {
    color: green;
    font-weight: bold;
}

#user-info {
    display: none; 
}

#logoutButton {
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

#logoutButton:hover {
    background-color: #c82333; 
}
=======
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0056b3;}
>>>>>>> 3e696fa54d4dae72a7128331c5709257707219da
